#sidenav-jaun {
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background-color: #fff;

	.sidebar-title {
		height: 15vh;
		min-height: 80px;
	}

	.collection {
		max-height: 85vh;
		overflow: auto;
		padding-bottom: 10vh;
	}

	h2 {
		margin: 0;
		padding: 10px;
		color: #fff;
		margin: 0 auto;
	}

	h4 {
		color: #444;
	}

	.collection {
		border: inherit;

		.collection-item {
			text-align: center;

			&.unread {
				background-color: #4F6C69
			}
		}
	}

	&:hover {
		// background-color: initial;
	}
}